<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/headers %>
  </head>
  <body class="container">
    <header>
      <h1><%=message%></h1>
    </header> 
<form>
    <div class="form-group">
      <input type="hidden" name="_id" value="<%- opening._id%>">
      <label>Project Name</label>
      <input name="projectName"  readonly class="form-control"  value="<%- opening.projectName%>">
      <label>Client Name</label>
      <input name="clientName" readonly class="form-control"  value="<%- opening.clientName%>">
      <label>Technologies</label>
      <input name="technologies" readonly class="form-control"  value="<%- opening.technologies%>">
      <label>Role</label>
      <input name="role" readonly  class="form-control"  value="<%- opening.role%>">
      <label>Job Description</label>
      <input name="jobDescription" readonly class="form-control"  value="<%- opening.jobDescription%>">
      <label>Status(It can have only two values open or closed*)</label>
      <input name="status" readonly class="form-control"  value="<%- opening.status%>">
    </div>
  </form>
  <%if(!canApply){%>
   <p>Position is now closed you cannot apply</p>
  <%}%>
  <%if(applyButton && canApply){%>
    <form action="/api/auth/apply/<%= opening._id%>" method="GET">
     <button type="submit" class="btn btn-primary">Apply</button>
    </form>
  <%}%>
  <footer class="page-footer">
    <%include ./partials/footer%>
   </footer>
</body>
</html>